<div class="about-me container-fluid">
    <div class="about-me-header">
        <h1>About Me</h1>
    </div>

    <br>

    <div class="about-me-content">
        <div class="content-box content-box-small">
            <img src="../../../assets/images/my_pic_small.jpg" alt="My Picture">
        </div>
        <div class="content-box">
            <div class="content-box-header">
                WHO I AM
            </div>
            <p>A tech enthusiast with a passion for designing resilient and performant
                systems.
                My expertise lies in cloud technologies, AWS, and Microsoft technologies.</p>
            <p>I have over 14 years of experience in and am a AWS certified Solutions Architect Associate.</p>
           
        </div>
    </div>
    <div class="about-me-content">
        <div class="content-box">
            <div class="content-box-header">
                WHAT I DO
            </div>
            <p>
                I am a Technical Architect by profession and have worked on building large scale distributed
                applications.
            </p>
            <p>Few of the systems that I have worked on include Retail POS, Car Rental Website, 
                Capital Project Management Systems, Identity Service, Document Management System, etc.</p>
        </div>
        <div class="content-box content-box-small">
            <div class="content-box-header">
                WHAT I LIKE
            </div>
            <div>
                Apart from work I like
                <ul>
                    <li>Listening to bollywood songs</li>
                    <li>Reading books</li>
                    <li>Photograpy</li>
                </ul>
            </div>
        </div>
    </div>
</div>