<div class="academics-container container-fluid">
    <h1>Certifications</h1>
    <br>
    <div class="certificate-container">
        <div class="certificate-logo">
            <img src="../../../assets/images/aws-cert-saa.png" class="img-fluid">
        </div>
        <div class="certificate-details">
            <div class="certificate-title">AWS Certified Solution Architect Associate</div>
            <div class="certificate-validity">
                <a href="https://www.credly.com/badges/95c515fc-1a5a-4b79-a956-264c5d5c936d/">
                    Valid Till: November 12, 2025
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid divider-container">
        <div class="divider"></div>
        <span class="col divider-icon"><i class="fa-solid fa-certificate"></i></span>
        <div class="divider"></div>
    </div>
    <br>
    <h1>
        Education
    </h1>
    <br>
    <div class="education-container">
        <div class="education-logo">
            <i class="fa-solid fa-user-graduate"></i>
        </div>
        <div class="education-details">
            <div class="education-degree-name">Master of Computer Application</div>
            <div class="education-institute-name">
                <span>ASM's Institute of Management and Computer Studies</span>
                <i class="fa-regular fa-circle-dot"></i>
                <span>Mumbai University</span>
            </div>
            <div class="education-institute-name">
                2007 - 2010
            </div>
        </div>
    </div>
    <br>
    <div class="education-container">
        <div class="education-logo">
            <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div class="education-details">
            <div class="education-degree-name">B Sc. Computer Science</div>
            <div class="education-institute-name">
                <span>Birla College of Arts, Commerce and Science</span>
                <i class="fa-regular fa-circle-dot"></i>
                <span>Mumbai University</span>
            </div>
            <div class="education-institute-name">
                2004 - 2007
            </div>
        </div>
    </div>
    <br>
    <div class="education-container">
        <div class="education-logo">
            <i class="fa-solid fa-school-flag"></i>
        </div>
        <div class="education-details">
            <div class="education-degree-name">12th (PUC)</div>
            <div class="education-institute-name">
                <span>Abhinav College</span>
                <i class="fa-regular fa-circle-dot"></i>
                <span>Maharashtra State Board</span>
            </div>
            <div class="education-institute-name">
                2002 - 2004
            </div>
        </div>
    </div>
    <br>
    <div class="education-container">
        <div class="education-logo">
            <i class="fa-solid fa-school-flag"></i>
        </div>
        <div class="education-details">
            <div class="education-degree-name">10th (SSC)</div>
            <div class="education-institute-name">
                <span>Don Bosco High School</span>
                <i class="fa-regular fa-circle-dot"></i>
                <span>Maharashtra State Board</span>
            </div>
            <div class="education-institute-name">
                2001 - 2002
            </div>
        </div>
    </div>
</div>