<div class="container-fluid header-content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-none d-lg-block">
            <a class="navbar-brand d-none d-lg-block d-xl-block header-logo" routerLink="">
                <img class="img-fluid" src="../../assets/images/logo-white-small.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-small d-lg-none d-xl-none">
            <a class="navbar-brand d-sm-block d-md-block d-lg-none d-xl-none header-logo" href="#">
                <img class="img-fluid" src="../../assets/images/logo-white-xtra-small.png">
            </a>
            <span style="padding-top: 10px;">Vinay Dandinashivara</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="experience">Experience </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="academics">Academics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="recognitions">Recognitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about-me">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="projects">Projects</a>
                </li>
            </ul>
        </div>
    </nav>
</div>