:host {
    width: 100%;
}

.header-content .bg-dark {
    background-color: black !important;
}

.header-logo {
    min-width: 180px;
}

.header-content li {
    min-width: 180px;
    text-align: center;
}

.header-content li:hover {
    background-color: rgb(32, 30, 30);
}

.navbar,
.navbar-brand {
    padding: 0px;
    justify-content: center;
}

.navbar-small {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-small .header-logo {
    min-width: 50px;
}
