:host {
    width: 100%;
    border-bottom: 1px solid rgb(31, 30, 30);
}

.header-content {
    display: grid;
    justify-content: center;
}

@media (max-width: 992px) {
    .header-content {
        justify-content: unset;
    }
}

.navbar {
    justify-self: center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.header-content .bg-dark {
    background-color: black !important;
}

.header-logo {
    min-width: 180px;
}

.header-content li {
    min-width: 180px;
    text-align: center;
}

.header-content li:hover {
    background-color: rgb(32, 30, 30);
}

.navbar,
.navbar-brand {
    padding: 0px;
    justify-content: center;
}

.navbar-small {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-small .header-logo {
    min-width: 50px;
}