:host {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.projects-header {
    display: grid;
    justify-content: center;
}

.projects-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 40%;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    min-height: 300px;
    min-width: 300px;
    position: relative;
}

.project-card-header {
    font-size: 14pt;
    border-bottom: 1px solid grey;;
    padding: 5px 0px 5px 0px;
}

.project-card-footer {
    border-top: 1px solid grey;
    position: absolute;
    justify-self: center;
    bottom: 0;
    margin-bottom: 10px;
    width: 94%;
    min-height: 30px;
    padding: 5px 0px 5px 0px;
}

.project-card-description {
    font-size: 11pt;
    padding-top: 10px;
}

.project-card-source-code {
    float: right;
    padding-right: 5px;
    font-size: 12pt;
}

.project-card-tech-stack-pill {
    border-radius: 2rem;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid grey;
    max-height: 30px;
    margin: 3px;
    margin-top: 5px;
    max-width: fit-content;
    font-size: 10pt;
}