
.main-container {
    display: flex;
    max-width: 1100px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    position: relative;
    margin-top: 1rem;
    height: 100%;
    color: var(--text-color);
}


.header-area {
    display: flex;
    vertical-align: top;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    justify-self: center;
    position: relative;
    top: 0px;
    padding: 0px !important;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


